@model ENTIDAD.Proyecto

@{
    ViewBag.Title = "Crear";
}

<form action="@Url.Action("Crear", "Proyecto")" method="post" id="frmProyecto">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear nuevo Proyecto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Nombre del proyecto</label>
            <div class="col-md-10">
                <input type="text" name="NombreProyecto" id="NombreProyecto" class="form-control" placeholder="Ingrese el nombre del proyecto" />
                @Html.ValidationMessageFor(model => model.NombreProyecto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha de Inicio</label>
            <div class="col-md-10">
                <input type="date" name="FechaInicio" id="FechaInicio" class="form-control" />
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Fin</label>
            <div class="col-md-10">
                <input type="date" name="FechaFin" id="FechaFin" class="form-control" />
                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Proyecto" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $("#frmProyecto").submit(function (event) {
            event.preventDefault();

            var nombre = $("#NombreProyecto").val();
            var fechaInicio = $("#FechaInicio").val();
            var fechafin = $("#FechaFin").val();

            if ($.trim(nombre) == "") {
                alert("Debe ingresar el nombre del proyecto");
                return;
            }

            if (fechaInicio == "" || fechafin == "") {
                alert("Debe ingresar la Fecha de Inicio y la Fecha Fin");
                return;
            }

            if (!ValidarFechas(fechaInicio, fechafin)) {
                alert("La Fecha fin no puede ser menor que la fecha de Inicio");
                return;
            }


            var post_url = $(this).attr("action");
            var req_method = $(this).attr("method");
            var datos = $(this).serializeArray();
            console.log(datos);
            LoadingOverlayShow("#frmProyecto");
            $.ajax({
                url: post_url,
                type: req_method,
                data: datos
            }).done(function (response) {
                console.log(response);
                LoadingOverlayHide("#frmProyecto");
                if (response.ok) {
                    alert("Proyecto creado correctamente");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#frmProyecto");
                ////
            });
        });

    </script>
}
