@model IEnumerable<ENTIDAD.Departamento>

@{
    ViewBag.Title = "Lista de Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departamentos</h2>

<p>
    @Html.ActionLink("Crear Departamento", "Crear")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Nombre del Departamento
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDepartamento)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Editar", new { id = item.DepartamentoId }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Ver Detalles", "GetDepartamento", new { id = item.DepartamentoId }, new { @class = "btn btn-success" }) 
                    @Html.ActionLink("Borrar", "Eliminar", new { id = item.DepartamentoId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

</table>
